/*******************************
 Google Fonts (Poppins Regular)
 ******************************/
 @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


 /*******************************
 Global Settings
 ******************************/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 1170px;
    margin:0 auto;
}
:root{
    --white: #fff;
    --btn-color: #E02C6D;
    --Black-color: #18191F;
    --p-color: #6C6C6C; 
}
a{
    text-decoration: none;
    color: white;
    list-style-type: none;
}
p{
    color: #6C6C6C;
}
ul{
    list-style: none;
}
.dis-flex{
    display:flex;
}
.dis-block{
    display: block;
}




/******************* Header Css Start Here *******************/
#header{
    width: 100%;
    height: 100vh;
    background-color: #2D25A0;
}
.menu-bar{
    justify-content: space-between;
    align-items: center;
    padding: 36px 5px;
}
.main-menu ul li{
    display: inline-block;
    margin: 0 20px;
}
.main-menu ul li:first-child{
    margin-left: 0;
}
.main-menu ul li a{
    font-size: 16px;
    font-weight: 500;
    transition: border-bottom 0.3s ease-in-out;
}

.main-menu ul li a:hover{
    border-bottom: 2px solid var(--btn-color);
}
.btn{
    width: 135px;
    display: flex;
    align-items: center;
    background-color: var(--btn-color);
    padding: 10px 24px;
    border-radius: 3px;
}
.btn:hover{
    cursor: pointer;
    background-color: #e25789;
}
.btn i{
    font-size: 24px;
    color: var(--white);
    margin-right: 12px;
}
.header-content{
    justify-content: space-between;
    align-items: center;
}
.left-head h1{
    color: var(--white);
    font-size: 65px;
    line-height: 80px;
    font-weight: 700;
    margin-bottom: 30px;

}
.left-head>.btn{
    width: 180px;
    margin-right: 0px;
}
.left-head>.btn>a{
    margin-right: 12px;
}
.right-head img{
    width:560px;
    height: 440px;
}
/******************* Header Css Ends Here *******************/


/******************* Main Section Start Here *******************/
.blog-card {
    width: 330px;
    box-shadow: 3px 3px 20px rgb(0 0 0 / 30%);
    padding: 15px;
    border-radius: 5px;
}
.blog-card .card-img img{
    width:100%;
    background-size: cover;
    background-position: center;
    
}
.blog-card .card-content{
    width:100%;
}
.blog-card .card-content h2{
    font-weight: 600;
}
.blog-wrapper{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 27px;
    padding: 70px 40px;
    

}

.highLight-wrapper{
    display: flex;
    align-items: center;
    padding: 90px 40px;
}
.highLight-wrapper .right-highLight-content img{
    width: 570px;
    height: 430px;
}
.left-highLight-content h1{
    font-size: 48px;
    font-weight: 600;
}
/******************* Main Section Ends Here *******************/